*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    background: #f5f7f9;
}
.nav{
    width:100%;
    line-height: 0.69rem;
    display: flex;
     justify-content: space-between;
}
.navLeft{

}